extends: default

rules:
  comments:
    level: error
  document-start: disable
  empty-values: enable
  indentation:
    spaces: 2
    indent-sequences: whatever
  line-length:
    max: 145
    allow-non-breakable-inline-mappings: true
  truthy:
    level: error
