# /etc/ntp.conf
# {{ ansible_managed }}
# ===================================================

driftfile /var/lib/ntp/drift
restrict default nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict ::1

{% for ntp_server in ntp_servers %}
server {{ ntp_server }} {{ ntp_servers_opts }}
{% endfor %}
