# /etc/systemd/timesyncd.conf
# {{ ansible_managed }}
# ===================================================

[Time]
NTP={{ ntp_servers|join(",") }}
#FallbackNTP=ntp.ubuntu.com
#RootDistanceMaxSec=5
#PollIntervalMinSec=32
#PollIntervalMaxSec=2048
